{% extends 'base/wrapper.html' %}

{% load staticfiles %}
{% block custom_styles_and_scripts %}
    <!-- custom_styles_and_scripts -->
    <script defer src="{% static 'base/pages/home/js/home.js' %}"></script>
    <script src="{% static 'base/packages/dygraph/dygraph.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/packages/dygraph/dygraph.css' %}" />
{% endblock %}

{% block content %}
    {% if data_files %}
        <h3>Данные на сервере</h3>
        <div class="data-list">
            {% csrf_token %}
            {% for data_file in data_files %}
                <input class="max2" type="checkbox" name="{{data_file.name}}" value="{{data_file.id}}">
                <a href="#">{{data_file.name}}</a>
                <span id="file-{{data_file.id}}"></span><br>
            {% endfor %}
            <span>sR_0:</span><input class="selectRange_0" type="text" value="0">
            <span>sR_1:</span><input class="selectRange_1" type="text" value="10000">
            <span>step:</span><input class="selectStep" type="text" value="10000"><br>
            <!-- sec -->
            <div>
                <input class="isSeconds" type="checkbox" name="isSeconds">
                <span>в секундах</span><br>
            </div>
            <!-- -->
            <button>press me</button>
        </div>
    <div id='dygraph' class="dygraph"></div>
    {% else %}
    <h2>! Требуется добавить данные с помощью админ. панель</h2>
    {% endif %}
{% endblock %}


 