<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'base/includes/staticfiles.html' %}
    {% comment %} {% include 'site/includes/favicons.html' %} {% endcomment %}
    {% block wrapper_styles_and_scripts %} {% endblock %}
    {% block custom_styles_and_scripts %} {% endblock %}
    <title>{% block title %} {{title}} {% endblock %}</title>
</head>
<body>
    {% comment %} {% include 'site/includes/header.html' %} {% endcomment %}
    {% block content %} {% endblock %}
    {% comment %} {% include 'site/includes/footer.html' %} {% endcomment %}
</body>
</html>